@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body {
  font-family: 'League Gothic', sans-serif !important;
    color: #0c090f !important;
    background-color: #c7ceec;
    
  }

.jumbotron {
    background-image: url("../images/bacteria3.jpg");
    background-size: cover;
    text-align: center;
  }

.top-buffer {
  margin-top: 20px;
}